<form (ngSubmit)="onSubmit()" #authorizationForm="ngForm" [hidden]="submitted" id="reservationForm">
  <h1 id="authorizationTitle">Create Reservation</h1>

  <div>
    <label for="lastName">
      Last Name
    </label>
    <input id="lastName" type="text" [(ngModel)]="authorization.lastName" name="lastName" required/>
  </div>

  <div>
    <label for="firstName">
      First Name
    </label>
    <input id="firstName" type="text" [(ngModel)]="authorization.firstName" name="firstName" required/>
  </div>

  <div>
    <label for="vehicleClass">
      Vehicle Class
    </label>
    <select id="vehicleClass" [(ngModel)]="authorization.vehicleClass" name="vehicleClass" required>
      <option value=""></option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>
  </div>

  <button type="submit" [disabled]="!authorizationForm.form.valid" id="createReservationButton">Create</button>
</form>

<div [hidden]="!submitted" id="reservationDisplayed">
  <h3>You have reserved a reservation for:</h3>
  <h2 id="fullNameDisplayed">{{ authorization.firstName + ' ' + authorization.lastName }}</h2>
  <h3>Vehicle Class</h3>
  <h2 id="vehicleClassDisplayed">{{ authorization.vehicleClass }}</h2>
  <button (click)="submitted=false">Edit</button>
</div>
